* {
    background-color: #ebebeb;
    margin: 5px;
}

#Cabecera {
    text-align: center;
    padding: 10px;
}

p.Titulo{
    background-color: #ffca8c;
    font-weight: bolder;
    color: #039893;
    text-align: center;

}

#ZonaI {
    float: left;
    border: 5px solid #ffbd59;
    width: 200px;
    background-color: #ffca8c;
    padding: 10px;
}

/* menu */

#menu ul {
    list-style:none;
    margin:10px;
    padding:5px;
} 

li{
    list-style-type:none;
    position:relative;
    width:120px;
}

li a{
    text-decoration:none;
    display:inline-block;
    padding:5px 10px;
    color: #ec9989;
    background-color:#ebebeb;
}
                
li a:hover{
    color:#ffbd59;
    background-color:#ec9989;
                    
}

#Cuerpo {
    margin-left: 235px;
    margin-top: 10px;
    border: 5px solid #ffbd59;
    background-color: #ffca8c;
    padding: 10px;
}

#Pie {
    clear:both;
    border: 1px solid #b200ff;
    background-color: #fffa7d;
    padding: 10px;

}